[Desktop Entry]
X-SnapInstanceName=outlook-ew
Type=Application
Name=Outlook
GenericName=Mail
Comment=Open Microsoft Outlook
Exec=/home/akash/.local/bin/outlook-ew %U
Terminal=false
Icon=/snap/outlook-ew/current/meta/gui/icon.png
StartupWMClass=Microsoft Outlook
Categories=Office;Email;
Keywords=mail;email;calendar;microsoft;office;365;outlook;
