[Desktop Entry]
Name=Teams for Linux
Comment=Unofficial Microsoft Teams client for Linux using Electron
Exec=/home/akash/.local/bin/teams-for-linux-portable %U
Terminal=false
Type=Application
Icon=/home/akash/.local/share/applications/teams-for-linux.png
StartupWMClass=teams-for-linux
MimeType=x-scheme-handler/msteams;
Categories=Network;Chat;
